table {
  color: blueviolet;
  border: 2px solid indigo;
  padding: 5px;
  margin: 10px 0;
  border-bottom-width: 12px;
  border-radius: 5px;
  width: 100%;

  table-layout: fixed;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

thead {
  text-align: center;
  font-weight: bolder;
}

tbody tr {
  display: flex;
}

table tr > td {
  border: 2px solid darkred;
  padding: 5px 10px;
  width: 100%;
  align-self: center;
  display: flex;
  flex: 3;
}

table i {
  flex: 1;
}
