* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.App {
  font-family: 'Oswald', sans-serif;
  border: 3px solid rgb(132, 29, 201);
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 17px;
  padding: 15px 20px;
  background-color: lightcyan;
}
