.general {
  color: inherit;
  font-weight: bold;
  font-style: italic;
  width: 40%;
  padding: calc(0.2em + 1vw) 0.5em;
  margin: 1em 0;
  border-radius: 3px;
  text-align: center;
  transition: color 1s ease;
}

.add {
  background: rgb(125, 197, 16);
}

.update {
  background: lightskyblue;
}

.delete,
.error {
  background: red;
}
